.reviews
  margin-top: 1rem
  width: 600px
  margin: 1rem auto
  h3 
    font-size: 1.5rem
    margin-bottom: 0
    color: #cb4921
    padding-left: 2rem
  
.review 
  background: white
  border-radius: 1rem
  padding: 1rem 1.5rem
  box-shadow: 0 1px 4px rgba(0,0,0,.1)
  margin: 0.5rem auto
  width: 550px
  
  strong 
    font-size: 1rem
    color: black
  
  small 
    display: block
    margin-top: 0.5rem
    color: blue
  
  p 
    margin: 0.5rem 0
    line-height: 1.4
  
  hr 
    margin: 1rem 0
    border: none
    border-top: 1px solid #ccc

.stars
  color: gold
  margin-left: 0.5rem
  font-size: 1rem

.editor 
  margin: 0.5rem
  background: white
  padding: 1.5rem
  border-radius: 1rem
  box-shadow: 0 1px 4px rgba(0,0,0,.05)


.header 
  display: flex
  gap: 0.5rem        // espacio entre alias y rating
  margin-bottom: 0.5rem
  align-items: center

  input, select, textarea, button
    padding: 0.5rem 0.75rem
    border: 1px solid #cb4921
    border-radius: 0.5rem
    font-size: 0.8rem

  input 
    flex: 1             // el campo alias ocupa el máximo posible
  
  select 
    width: 7rem
    color: #ffc107
    font-size: 0.8rem
    option
      color: #ffc107

  button
    width: 7rem
    background: #cb4921
    border: none
    border-radius: 0.5rem
    color: white
    cursor: pointer
    transition: transform 0.1s ease
    &:hover
      transform: translateY(-2px)
    &:active
      transform: translateY(0)

  textarea
    flex: 1
  

